:root {
	--back: #2d586e;
	/* background color	*/
	--text: #e7e7e7;
	/* text color		*/
	--alt1: #564151;
	/* alternative color 1	*/
	--alt2: #564641;
	/* alternative color 2	*/
}

#site-container {
	display: flex;
	flex-direction: column;
}

body {
	background: var(--back);
	color: var(--text);
	font-family: serif;
}

#header-container {
	color: var(--text);

}

#header-container a {
	color: var(--text);
	text-decoration: none;
	text-transform: uppercase;

}

#title-bar {
	font-size: 20px;
	text-align: center;

}

#footer-container {
	display: flex;
	justify-content: center;
}

#nav-bar {
	display: flex;
	justify-content: center;
	flex-direction: row;
}

#nav-bar a {
	font-size: 18px;
	padding-left: 1rem;
	padding-right: 1rem;
}

#nav-bar a:hover {
	font-style: bold;
}

#body-container {
	display: flex;
	justify-content: center;
	color: var(--text);
	text-align: justify;

}

lists {
	display: flex;
	justify-content: left;
	background-color: black;

}
